*{
    padding: 0px;
    margin: 0px;
    text-align: center;
    align-items: center;
    background-color: crimson;
    
}
h1{
    margin: 20px;
}
#parent{
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    display: grid;
    grid-template-columns: repeat(0, 1fr);
    grid-template-rows: repeat(0, 1fr);
    height: 500px;
    width: 500px;
    background-color: hsl(0, 0%, 94%);

}
.square{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(243, 160, 160);
}
button{
    margin: 20px;
    height:30px;
    width: 60px;
    border-radius: 10px;
    background-color: darksalmon;
    color:black;
  
}